@import '../../../scss/variables.scss';
body{
    position: relative;
    &.modal-open{
            .background{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .5);
        }
    }
}
.modal{
    display: none;
    position: absolute;
    width: 230px;
    background-color: black;
    border-radius: 5px;
    box-shadow: -3px 10px 4px -7px rgba(0,0,0,0.75);
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    padding: 20px;
    z-index: 10;
    .modal-title{
        color: white;
    }
    .header-modal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        button{
            position: absolute;
            right: -15px;
            top: -15px;
            color: white;
        }
    }
    &.show{
        display: block;
    }
}
@media (min-width: 414px){
    .modal{
        width: 320px;
    }
}