@import '../../../scss/variables.scss';

.btnLike{
    width: 20px;
    height: 20px;
    margin-right: 25px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    @include transition();
    &.active{
        i{
            color: $color-dark-aqua;
        }
    }
    i{
        font-size: 15px;
        color: rgba(white, .2);
    }
}
